alias c="clear"
alias cls="clear"
alias l="ls"
alias ll="ls -al"
alias gohome="cd ~"
alias office="cd ~/office/"
alias home="cd ~"
alias dotfiles="cd ~/.files/"

alias diff="git diff HEAD --word-diff=color"
alias reset="git reset --hard"
alias log="git log --decorate --graph  --stat --pretty=format:'%d %C(yellow) %h%Creset %C(cyan) \" %s \" %Creset by (%C(magenta)%cn%Creset) %C(red) %cr' "
alias loginaline="git log --pretty=format:'%Cgreen%ad%Creset %C(yellow)%h%Creset%C(yellow)%d%Creset %s %C(cyan)[%an]%Creset %Cred(%ar)%Creset' --date=short --graph"
alias status="git status"
alias push="git push"
alias pull="git pull --rebase"
alias stat="git show --stat"
alias branches="git branch -vv"

alias ws="./.files/launch_wireshark.sh"

alias isim="open -a \"iOS Simulator\""
alias asim="~/Library/Android/sdk/tools/emulator -avd test"

alias d=docker
alias dm=docker-machine
alias cdd="cd ~/office/software/simple_api_ui"

" ipconfig for mac"
alias ipconfig="ifconfig en0 | grep \"inet \" | cut -d\" \" -f2"
