alias c="clear"
alias cls="clear"
alias l="ls"
alias ll="ls -al"
alias gori="cd ~/projects/Gap/projects/regional_inventory"
alias gosam="cd ~/projects/Gap/projects/sam"
alias gorms="cd ~/projects/Gap/projects/rms"
alias goreports="cd ~/projects/Gap/projects/reports"
alias goscms="cd ~/projects/Gap/projects/scms"
alias gohome="cd ~"
alias rs="rake spec"
alias rc="rake cucumber"
alias home="cd ~"
alias gitrebase=~/gitrebase
