alias c="clear"
alias cls="clear"
alias l="ls"
alias ll="ls -al"
alias gori="cd ~/office/projects/gap/ri"
alias goloki="cd ~/office/projects/gap/loki/source/transformer"
alias gohome="cd ~"
alias home="cd ~"
alias diff="git diff --word-diff=color"
